<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Study Hall</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://bootstraptaste.com" />
<!-- css -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="/assets/css/jcarousel.css" rel="stylesheet" />
<link href="/assets/css/flexslider.css" rel="stylesheet" />
<link href="/assets/css/style.css" rel="stylesheet" />

<!-- Theme skin -->
<link href="/assets/css/skins/default.css" rel="stylesheet" />
</head>
<body>
{{{ body }}}
</body>


